<!-- Footer open  -->
<footer id="footer" class="padded center contact">

  <h2>Contact Us</h2>
  <div class="footer-content grid">

    <div class="col-4_sm-12">
      <h3>Address:</h3>
      <h4>No.28 Xinda Street<br />Hi-tech Zone, Dalian<br />116023, China</h4>
    </div>

    <div class="col-4_sm-12">
      <h3>Phone:</h3>
      <h4>+86 40 0103 5788 </h4>
    </div>

    <div class="col-4_sm-12 email">
      <h3>Email:</h3>
      <h4>
        <a href="mailto:dlget@luckywater.ca">dlget@luckywater.ca</a>
      </h4>
    </div>

  </div>

  <p>Copyright © 2017 Lucky Water Inc. All rights reserved.</p>
</footer>
<!-- Footer close -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="scripts/main.js"></script>
